Source: fd-opencv3
Priority: optional
Section: devel
Maintainer: nkhdiscovery <navid.khazaee@gmail.com>
Uploaders: nkhdiscovery <navid.khazaee@gmail.com>
Build-Depends: ant,
 build-essential,
 cmake (>= 2.8.7),
 debhelper (>= 9),
 default-jdk,
 dh-python,
 doxygen,
 javahelper,
 libavcodec-dev,
 libavformat-dev,
 libdc1394-22-dev [linux-any],
 libeigen3-dev,
 libfaac-dev,
 libflann-dev,
 libgdal-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libgstreamer0.10-dev,
 libgstreamer-plugins-base0.10-dev,
 libgtk2.0-dev,
 libgtkglext1-dev,
 libjasper-dev,
 libjpeg-dev,
 liblapack-dev (>= 3.2.1),
 libmp3lame-dev,
 libopencore-amrnb-dev,
 libopencore-amrwb-dev,
 libopenexr-dev (>= 1.6.1-8.1),
 libpng12-dev,
 libpng-dev,
 libraw1394-dev [linux-any],
 libswscale-dev,
 libtbb-dev [i386 amd64 ia64 powerpc ppc64 ppc64el],
 libtheora-dev,
 libtiff4-dev,
 libtiff5-dev,
 libtiff-dev,
 libv4l-dev [linux-any],
 libvorbis-dev,
 libvtk6-dev,
 libwebp-dev,
 libx264-dev,
 libxine2-dev,
 libxine-dev,
 libxvidcore-dev,
 ocl-icd-opencl-dev,
 pkg-config,
 python3-dev,
 python3-numpy,
 python3-tk,
 python-dev,
 python-numpy,
 python-tk,
 qtdeclarative5-dev,
 unzip,
 v4l-utils,
 x264,
 yasm,
 zlib1g-dev (>= 1.2.5)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/Faraadid/opencv.git
Vcs-Browser: https://anonscm.debian.org/git/debian-science/packages/opencv.git
Homepage: http://opencv.org/

Package: opencv3
Priority: extra
Section: devel
Maintainer: nkhdiscovery <navid.khazaee@gmail.com>
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Faraadid Company simple build for OpenCV 3.2.0, with lots of modules and contrib
